{% extends 'base.html' %}

{% block title %}
<title>Movies Reviews With Django</title>
{% endblock title %}

{% block content %}

<div class="container mt-2">
  <!-- action to specify where to submit upon submission, in this case its this page ("") -->
  <form action="">
    <div class="mb-3">
      <label for="movieSearchInput" class="form-label"
        >Search For Movie</label
      >
      <!-- name to reference the input and retrieve its value -->
      <input
        type="text"
        class="form-control"
        id="movieSearchInput"
        name="searchMovie"
      />
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div class="m-2">Searching For: <b>{{searchTerm}}</b></div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
    {% for movie in movies %}
    <div v-for="movie in movies" class="col">
      <div class="card">
        <img class="card-img-top" src="{{ movie.image.url }}" />
        <div class="card-body">

          <a href="{% url 'detail' movie.id %}" class="link-dark">
            <h5 class="card-title fw-bold">{{ movie.title}}</h5>
          </a>

          <p class="card-text">{{ movie.description}}</p>
          {% if movie.url %}
            <a href="{{ movie.url }}" class="btn btn-primary" target="_blank">Movie Link</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

  
{% endblock content %}




